.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

.primary:not(.disabled) {
  background: hsl(43, 74%, 66%);
  color: hsl(197, 37%, 14%);
}
.primary:not(.disabled):hover {
  background: hsl(43, 54%, 56%);
  box-shadow: 0 0 0 1px hsl(43, 54%, 56%);
}
.primary:not(.disabled):active {
  box-shadow: none;
}

.secondary:not(.disabled) {
  background: hsl(197, 37%, 24%);
  color: hsl(27, 87%, 67%);
}
.secondary:not(.disabled):hover {
  background: hsl(197, 37%, 14%);
  box-shadow: 0 0 0 1px hsl(197, 37%, 14%);
}
.secondary:not(.disabled):active {
  box-shadow: none;
}

.disabled,
.disabled:hover {
  opacity: 0.5;
  background: hsl(43, 74%, 66%);
}
