.button {
  padding: 0.75rem 1.5rem;
  border: none;
  background: hsl(43, 74%, 66%);
  color: hsl(197, 37%, 14%);
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background: hsl(43, 54%, 56%);
  color: hsl(197, 57%, 14%);
}

.disabled,
.disabled:hover {
  opacity: 0.5;
  background: hsl(43, 74%, 66%);
}
